In [1]:
# 101번
#True 또는 False를 갖는 데이터 타입?

In [2]:
# 102번

print(3==5)

False

In [3]:
# 103번
print(3<5)

True

In [4]:
# 104번

x = 4
print(1<x<5)

True

In [5]:
# 105번

print((3==3) and (4!=3))

True

In [7]:
# 106번
print(3=>4)

==> 에러남

print(3>=4) 이렇게 써야함

False

In [8]:
# 107번
if 4<3:
    print('Hello world')

In [9]:
# 108번
if 4<3:
    print('Hello world')

else:
    print('Hi, there')

Hi, there

In [10]:
# 109번
if True:
    print('1')
    print('2')
else:
    print('3')
print('4')

1
2
4

In [11]:
# 110번
if True:
    if False:
        print('1')
        print('2')
    else:
        print('3')
else:
    print('4')
print('5')

3
5

In [12]:
# 111번
x = input('입력하세요 : ')
print(x*2)

입력하세요 :  안녕하세요

안녕하세요안녕하세요

In [14]:
# 112번
x = input('숫자를 입력하세요 : ')
print(int(x)+10)



@@@@@@@@@@@@@@@@@@@@@@@@ input 과 int 이용 @@@@@@@@@@@@@@@@@@@@

숫자를 입력하세요 :  30

40

In [18]:
# 113번
x = input('숫자입력하삼 : ')
if int(x)%2 == 0:
    print('짝수')
else:
    print('홀수')

숫자입력하삼 :  30

짝수

In [31]:
# 114번
x = input('숫자입력 ㄱ : ')
if int(x) + 20 >=255:
    print('255')

else:
    print(int(x)+20)

숫자입력 ㄱ :  200

220

In [34]:
# 115번
x = input('숫자입력 ㄱ : ')
if int(x) - 20 <=0:
    print(int(0))

else:
    print(int(x)-20)

숫자입력 ㄱ :  200

180

In [58]:
# 116번
from datetime import datetime

x = input('현재시간 :')

if x[-2:] == '00':
    print('정각입니다.')

else :
    print('정각이 아니다')       
    

    
    
Tip) print(datetime.now().strftime('%H:%M'))
@@@@@@@@@@@@@@@@@@@@@@@@@ 현재시간 나타내기 @@@@@@@@@@@@@@@@@@@@@@@@

현재시간 : 2:01

정각이 아니다
16:16

In [60]:
# 117번

fruit = ['사과','포도','홍시']

x = input('좋아하는 과일은? : ')

if x in fruit:
    print('개굳')

else:
    print('낫굳')

좋아하는 과일은? :  ㅋㄷ

낫굳

In [ ]:
# 118번

warn_investment_list = ['Microsoft', 'Google','Naver','Kakao','SAMSUNG','LG']
x = input('투자 경고 종목: ')
if x in warn_investment_list:
    print('ㅇㅇ..')
    
else:
    print('ㄴㄴ..')

In [6]:
# 119번

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

x = input('좋아하는 계절? :')
if x in fruit.keys():
    print('정답쓰')

else:
    print('ㄴ')

좋아하는 계절? : 여름

정답쓰

In [10]:
# 120번
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

x = input('좋아하는 계절? :')
if x in fruit.values():
    print('정답쓰')

else:
    print('ㄴ')
    
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ keys() 나 values() 이용 잘하기

좋아하는 계절? : 토마토

정답쓰

In [6]:
# 121번
x = input('암거나 쓰삼 (영어로) :')

if x.islower() == True:
    print(x.upper())
    
    
@@@@@@@@@@@@@@@@ islower() 함수 이용하기 @@@@@@@@@@@@@@@@@@@@@@

암거나 쓰삼 (영어로) : a

A

In [10]:
# 122번

x = int(input('학점 입력해주세요 : '))
if x > 80:
    print('A')
elif x > 60:
    print('B')
elif x > 40:
    print('C')
elif x > 20:
    print('D')
else:
    print('F')

학점 입력해주세요 :  20

F

In [19]:
# 123번
x = input('입력 : ')
a = x.split(' ')
if a[1] == '달러':
    print(int(a[0])*1167, ' 원')
elif a[1] == '엔':
    print(int(a[0])*1.096, ' 원')
elif a[1] == '유로':
    print(int(a[0])*1268, ' 원')
elif a[1] == '위안':
    print(int(a[0])*171, ' 원')
else:
    print('오타난 듯;;')

입력 :  1000 유로

1268000  원

In [22]:
# 124번
x = []
num1 = int(input('input number1 : '))
x.append(num1)
num2 = int(input('input number2 : '))
x.append(num2)
num3 = int(input('input number3 : '))
x.append(num3)
print(max(x))

input number1 :  123
input number2 :  23
input number3 :  231

231

In [38]:
# 125번

p = {int('011') : 'SKT',
     int('016') : 'KT',
     int('019') : 'LGU',
     int('010'): '알수없음'
    }

x = input('휴대전화 번호 입력 : ')
for i in p.keys():
    if int(x[1:3]) == i:
        a = p[i]
        print(f'당신은 {a} 사용자입니당 ㅋㄷ')

    
@@@@@@@@@@@@@@@@@ 딕셔너리 keys() 와 values() 사용 잘하기 @@@@@@@@@@@@@

휴대전화 번호 입력 :  010-4226-7702

당신은 알수없음 사용자입니당 ㅋㄷ

In [42]:
# 126번
post_num = {int('0') : '강북구', int('1'):'강북구', int('2'):'강북구',
            int('3') : '도봉구', int('4'):'도봉구', int('5'):'도봉구',
            int('6') : '노원구', int('7'):'노원구', int('8'):'노원구',
            int('9'):'노원구'}
x = input('우편번호 : ')

for i in post_num.keys():
    if int(x[2]) == i:
        a = post_num[i]
        print (f'넌 {a}.. 여기군..')

우편번호 :  01920

넌 노원구.. 여기군..

In [45]:
# 127번
x = input('주민번호 ㄱ')
if int(x[-7]) == 1 :
    print('남자')
elif int(x[-7]) == 2 :
    print('여자')

주민번호 ㄱ 930907-1085234

남자

In [54]:
# 128번
x = input('주민번호 ㄱ')
if int(x[-6:-4]) <= int('08') :
    print('서울')
elif int(x[-6:-4]) <= int('12') :
    print('부산')

주민번호 ㄱ 930907-1105234

부산

In [62]:
# 129번
x = input('주민번호 ㄱㄱ : ')
num1 = (int(x[0])*2 + int(x[1])*3 + int(x[2])*4 + int(x[3])*5 + int(x[4])*6 + int(x[5])*7 + int(x[7])*8 + int(x[8])*9 + int(x[9])*2 + int(x[10])*3 + int(x[11])*4 + int(x[12])*5)
num2 = num1%11
num3 = 11 - num2
if int(x[-1]) == num3:
    print('유효함.')
else:
    print(f'{x} 는 유효하지 않음')

주민번호 ㄱㄱ :  930907-1085235

930907-1085235 는 유효하지 않음

In [66]:
# 130번
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
width = int(btc['max_price']) - int(btc['min_price'])
if int(btc['opening_price']) + width > int(btc['max_price']):
    print('상승장')

else:
    print('하락장')

상승장

In [68]:
# 131번
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print(변수)

사과
귤
수박

In [69]:
# 132번
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [71]:
# 133번
for 변수 in ["A", "B", "C"]:
  print(변수)

a = ["A", "B", "C"]
for i in a:
    print(i)

A
B
C
A
B
C

In [74]:
# 134번
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

for i in a:
    print('출력:', i)

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [75]:
# 135번
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

for i in a:
    b = i.lower()
    print('변환:',b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [76]:
# 136번
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)


for 변수 in [10, 20, 30]:
    print(변수)
    
    
@@@@@@@@@@@@ 아래꺼로 변경 가능 @@@@@@@@@@@@

10
20
30
10
20
30

In [77]:
# 137번

for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [79]:
# 138번
for i in [10, '-------', 20, '-------', 30, '-------']:
    print(i)
    
# or

for i in [10,20,30]:
    print(i)
    print('-------')

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [80]:
# 139번
print('++++')
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [83]:
# 140번
for i in range(4):
    print('-------')

-------
-------
-------
-------

In [84]:
# 141번
리스트 = [100,200,300]
for i in 리스트:
    print(i+10)

110
210
310

In [86]:
# 142번
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴:',i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [87]:
# 143번
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [89]:
# 144번
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [90]:
# 145번
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [93]:
# 146번
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

In [94]:
# 147번
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} =', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [95]:
# 148번
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [96]:
# 149번
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [97]:
# 150번
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [98]:
# 151번
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0 :
        print(i)

-20
-3

In [99]:
# 152번
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0 :
        print(i)

3

In [101]:
# 153번
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20:
        if i % 3 == 0 :
            print(i)
            
############ 또는 @@@@@@@@@@@@@@@

리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i < 20) and (i % 3 ==0):
        print(i)

        
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

12
18
12
18

In [102]:
# 154번
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3 :
        print(i)

study
python
language

In [105]:
# 155번
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [106]:
# 156번
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [108]:
# 157번
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0].upper()+i[1:])

Dog
Cat
Parrot

In [109]:
# 158번
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [110]:
# 159번
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i[-1] == 'h':
        print(i)

intra.h
define.h

In [111]:
# 160번
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split('.')
    if split[1] =='h' or split[1] =='c':
        print(i)
        
        
@@@@@@@@@@@@@@@@@@@@@@@@@@@@ or 메소드 이용 @@@@@@@@@@@@@@@@@@@@@@@@@@@@

intra.h
intra.c
define.h

In [114]:
# 161번
for i in range(100):
    print(i)

In [115]:
# 162번
for i in range(2002,2051,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [118]:
# 163번
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [121]:
# 164번
for i in range(99,-1,-1):
    print(i)
    
for i in range(100):
    print(99-i)

In [123]:
# 165번
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [125]:
# 166번
for i in range(10):
    print(f'3x{i} =',3*i)

3x0 = 0
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [126]:
# 167번
for i in range(1,10,2):
    print(f'3x{i} =',3*i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [128]:
# 168번
a = 0
for i in range(11):
    a = a + i
print(a)

55

In [131]:
# 169번
a = 0
for i in range(1,11,2):
    a += i
print(a)

@@@@@@@@@@@@@@@ 더하기 간편 (a = a + i) == (a += i) @@@@@@@@@@@@@@@@@@@@

25

In [133]:
# 170번
a = 1
for i in range(1,11):
    a *= i
print(a)

@@@@@@@@@@@@@@@@@ 곱하기 간편 (a = a * i) == (a *= i)@@@@@@@@@@@@@@@@

3628800

In [135]:
# 171번
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [136]:
# 172번
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [138]:
# 173번
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(len(price_list)-1-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [140]:
# 174번
price_list = [32100, 32150, 32000, 32500]

for i in range (1, len(price_list) ) :
    print(100 + i * 10, price_list[i])

110 32150
120 32000
130 32500

In [141]:
# 175번
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [142]:
# 176번
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [146]:
# 177번
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [147]:
# 178번
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print(my_list[i]-my_list[i-1])

100
200
400

In [149]:
# 179번
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(2, len(my_list)):
    print((my_list[i]+my_list[i-1]+my_list[i-2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [150]:
# 180번
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
volatility

[50, 100, 30, 80, 0]

In [2]:
# 181번
apart = [['101호, 201호'],['102호', '202호'],['103호','203호']]

In [3]:
apart

[['101호, 201호'], ['102호', '202호'], ['103호', '203호']]

In [6]:
# 182번
stock = [['시가',100,200,300],['종가',80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [7]:
# 183번
stock = {}
stock['시가'] = [100, 200, 300]
stock['종가'] = [80, 210, 330]
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [10]:
# 184번
stock = {'10/10' : [80, 110, 70, 90], '10/11' : [ 210, 230, 190, 200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [13]:
# 185번
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,'호')
        
        
        
@@@@@@@@@@@@@@@ 리스트 안의 리스트 끌어내는 법 @@@@@@@@@@@@@@@@@@

101 호
102 호
201 호
202 호
301 호
302 호

In [16]:
# 186번
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [18]:
# 187번
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [19]:
# 188번
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [26]:
# 189번
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,'호')
    print('-----')
        
@@@@@@@@@@@@@@@@@@@@@@ 흠... @@@@@@@@@@@@@@@@@@

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [27]:
# 190번
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,'호')

print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [31]:
# 191번

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [32]:
# 192번
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print('-----')

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [34]:
# 193번

result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        result.append(j*1.00014)
result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

In [35]:
# 194번

result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    a = []
    
    for j in i:
        a.append(j*1.00014)
    result.append(a)
        
result

@@@@@@@@@@@@@ ㅇㅎ @@@@@@@@@@@@@@

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [41]:
# 195번

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

@@@@@@@@@@@@@@@@@@@@@@@@@ 여기서부터 생소한 것들 @@@@@@@@@@@@@@@@@@@@@

100
190
310

In [43]:
# 196번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [44]:
# 197번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [48]:
# 198번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])

volatility

[40, 30, 10]

In [50]:
# 199번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [70]:
# 200번
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

result = 0
for i in ohlc[1:]:
    result +=  i[3]-i[0]
result
@@@@@@@@@@@@@@@@@@@@@@@ 쉬운 방법 @@@@@@@@@@@@@@@@@

0