In [6]:
# 201~ 202번
def print_coin():
    print('beatzflow')

print_coin()

beatzflow

In [7]:
# 203번
for i in range(100):
    print_coin()

beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow
beatzflow

In [10]:
# 204번
def print_coins():
    for i in range(100):
        print('beatzflow')

In [ ]:
# 205번
hello()
def hello():
    print("Hi")
    
    ==> 함수 정의되기전에 호출함.

In [11]:
# 206번
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [12]:
# 207번
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [13]:
# 208번
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [14]:
# 209번
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [16]:
# 210번
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range(3):
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [17]:
# 211번
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [18]:
# 212번
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [20]:
# 213번
def 함수(문자열) :
    print(문자열)
함수()

==> 함수에 정의와 다르게 함수를 호출하고 있다. 
함수를 호출할 때 하나의 파라미터를 입력해야한다.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [21]:
# 214번
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

==> 문자열이라서 더할 수 없음.

TypeError: can only concatenate str (not "int") to str

In [22]:
# 215번
def print_with_smile(a):
    print(a, ':D')

In [23]:
print_with_smile('zeaf')

zeaf :D

In [24]:
# 216번
print_with_smile('안녕하세요')

안녕하세요 :D

In [26]:
# 217번
def print_upper_price():
    x = int(input('현재가격'))
    
    print(x*1.3)
print_upper_price()

def print_upper_price(price):
    print(price*1.3)

현재가격 213213

277176.9

In [27]:
# 218번
def print_sum(a,b):
    print(a+b)

print_sum(3,5)

8

In [30]:
# 219번
def print_arithmetic_operation(a, b):
    print(f'{a} + {b} = ',a + b)
    print(f'{a} - {b} = ',a - b)
    print(f'{a} * {b} = ',a * b)
    print(f'{a} / {b} = ',a / b)

print_arithmetic_operation(3,4)

3 + 4 =  7
3 - 4 =  -1
3 * 4 =  12
3 / 4 =  0.75

In [31]:
# 220번
def print_max(a,b,c):
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
    
print_max(314,12,51235)

@@@@@@@@@@@@@@@@@@@@@@@@@@ if 이용해서 max값 찾기 @@@@@@@@@@@@@@@@@@@@@@@@@

51235

In [32]:
# 221번
def print_reverse(string):
    print (string[::-1])

In [34]:
print_reverse('asdf')

fdsa

In [36]:
# 222번
def print_score (score_list):
    print(sum(score_list)/len(score_list))

print_score([1,2,3])
    
    @@@@@@@@@@@@@@@@ 리스트 이용한 파라미터 @@@@@@@@@@@@@

2.0

In [39]:
# 223번
def print_even(num_list):
    for i in num_list:
        if i % 2 == 0:
            print(i)



print_even ([1, 3, 2, 10, 12, 11, 15])

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

2
10
12

In [43]:
# 224번
def print_keys(dic):
    for i in dic.keys():
        print(i)




print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [46]:
# 225번
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(dic, key):
    print(dic[key])

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [52]:
# 226번
def print_5xn(string):
    five_num = int(len(string)/5)
    for i in range(five_num + 1):
        print(string[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")





@@@@@@@@@@@@@@@@@@ 5글자씩 한 줄 @@@@@@@@@@@@@@@@@@

아이엠어보
이유알어걸

In [54]:
# 227번
def printmxn(string, intiger):
    split_num = int(len(string)/intiger)
    for i in range(split_num + 1):
        print(string[i*intiger:i*intiger+intiger])

printmxn("아이엠어보이유알어걸", 3)

@@@@@@@@@@@@@@@@@@ 위 문제 응용 @@@@@@@@@@@@@

아이엠
어보이
유알어
걸

In [62]:
# 228번
def calc_monthly_salary(annual_salary):
    print(round(int(annual_salary)/12))
    
calc_monthly_salary(12000000)

1000000

In [63]:
# 229번
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

@@@@@@@@@@@@@@@@@@ a 에 100을 바인딩하고 b에 200을 바인딩한다.

왼쪽: 100
오른쪽: 200

In [64]:
# 230번
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [68]:
# 231번
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

@@@@@@@@@@@@@@@@@@@@@@@@@@
함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다.
(문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 
return을 사용해야 합니다.
@@@@@@@@@@@@@@@@@@@@@@@@@@

NameError: name 'result' is not defined

In [70]:
# 232번
def make_url(string):
    print('www.'+string+'.com')
    
    print('www.',string,'.com')


make_url("naver")

www.naver.com
www. naver .com

In [75]:
# 233번
def make_list(string):
    list_str = []
    for i in string:
        list_str.append(i)
    return(list_str)

make_list("abcd")

@@@@@@@@@@@@@@@@@ return  이용하기

['a', 'b', 'c', 'd']

In [76]:
# 234번
def pickup_even(num_list):
    even_list = []
    for i in num_list:
        if i % 2 == 0:
            even_list.append(i)
    return(even_list)

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [80]:
# 235번
def convert_int(string):
    return int(string.replace(',',''))


convert_int("1,234,567")

1234567

In [81]:
# 236번
def 함수(num) :
    return num + 4

a = 함수(10) # 14
b = 함수(a) # 18
c = 함수(b) # 22
print(c)

22

In [82]:
# 237번
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10))) # 14 18 22
print(c)

22

In [83]:
# 238번
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10) # 14
c = 함수2(a)  # 140
print(c)

140

In [84]:
# 239번
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2 
    return 함수1(num) # 

c = 함수2(10) # 12 16
print(c)

16

In [85]:
# 240번
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2) # 12 14 28
print(c)

28

In [109]:
# 241~242번
import datetime

x = datetime.datetime.now()
x

datetime.datetime(2020, 5, 25, 15, 3, 29, 943538)

In [112]:
# 243번
from datetime import datetime, timedelta

now_time = datetime.now()

str(now_time)

the_date_before = now_time - timedelta(days= 5)
the_date_before

@@@@@@ timedelta ==> + - 로 이전날짜 찾기

datetime.datetime(2020, 5, 20, 15, 3, 34, 602078)

In [153]:
# 244번
now = datetime.datetime.now()
now_hour = now.strftime("%H")
now_min = now.strftime("%M")
now_sec = now.strftime("%S")

now_time = (f'{now_hour}시 {now_min}분 {now_sec}초')
now_time

'15시 27분 01초'

In [141]:
# 245번
import datetime
timestamp = "2020-05-04"
d = datetime.datetime.strptime(timestamp, '%Y-%m-%d')
str(d)

@@@@@@@@@@@@@@@@

'2020-05-04 00:00:00'

In [157]:
# 246번
import time

for i in range(5):
    print(str(datetime.datetime.now()))
    time.sleep(1)




# @@@@@@@@@@@@@@@ time sleep method @@@@@@@@@@@@@@@

2020-05-25 15:27:24.913975
2020-05-25 15:27:25.914789
2020-05-25 15:27:26.916619
2020-05-25 15:27:27.917894
2020-05-25 15:27:28.918252

In [156]:
# 247번
모듈을 임포트하는 법..
import ~

datetime.datetime(2020, 5, 25, 15, 27, 1, 29823)

In [161]:
# 248번
import os
os.getcwd()

@@@@@@@@@@@@@@@@@@ 디렉토리 경로 출력 @@@@@@@@@@@@@@

'C:\\Users\\lmj35'

In [165]:
# 249번
import os

path = 'C:\\Users\\lmj35\\Desktop\\'
f_name = 'ddd.txt'
os.rename(path+f_name, path+'juniroc.txt')

@@@@@@@@@@@@@@@@@@@@@@

In [168]:
# 250번 
import numpy as np

np.arange(0.0, 5.0, 0.1)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9])

In [ ]:
# 251번
클래스, 객체, 인스턴스

클래스 ( 붕어빵 틀 )
- 클래스를 사용하는 목적이 변수와 함수를 묶어서 
  하나의 새로운 객체(타입)로 만드는 것
- 객체를 만들어 내기 위한 설계도 혹은 틀
- 연관되어 있는 변수와 메서드의 집합

객체
- 구현할 대상
- 클래스에 선언된 모양 그대로 생성된 실체
- '클래스'의 '인스턴스'

인스턴스 ( 만들어진 붕어빵 )
- 설계도를 바탕으로 구현된 구체적 실체(제품)


class ~~():
    def 인스턴스(self, 인자, 인자2, 인자3,...)


@@@@@@@@@@@@@@ 여기서 부터 class @@@@@@@@@@@@@@@

In [40]:
# 252번
class Human():
    pass

In [43]:
# 253번
class Human():
    def 생성(self):
        print('생성완료')

In [44]:
areum = Human()
areum.생성()

생성완료

In [46]:
# 254번
class Human():
    def crying(self):
        print('응애응애')

In [47]:
areum = Human()
areum.crying()

응애응애

In [58]:
# 255 - 257번
class Human():
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def showing(self):
        print('-----------------')
        print('name is :',self.name)
        print('age is :',self.age)
        print('gender is :',self.gender)
        print('-----------------')
        
@@@@@@@@@@@@@@@@@@@ 위 아래 모두 self.~~ 를 이용해야함 @@@@@@@@@@@@@@@@@@@@

In [59]:
areum = Human('아름',25,'여자')
areum.showing()

-----------------
name is : 아름
age is : 25
gender is : 여자
-----------------

In [61]:
# 256 - 257번
areum.age

25

In [62]:
# 258번
class Human():
    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def showing(self):
        print('-----------------')
        print('name is :',self.name)
        print('age is :',self.age)
        print('gender is :',self.gender)
        print('-----------------')

In [64]:
minji = Human()
minji.setInfo('민쥐',24,'여자')
minji.showing()

-----------------
name is : 민쥐
age is : 24
gender is : 여자
-----------------

In [65]:
# 259번
class Human():
    def setInfo(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def __del__(self):
        print('hing gu...')

In [66]:
areum = Human()
del areum
@@@@@@@@@@@@@@@@ class 소멸자.. @@@@@@@@@@@@@@@@@@@@@@

In [69]:
# 260번
class OMG : 
    def print() :
        print("Oh my god")

myStock = OMG()
myStock.print()

@@@@@@ 이미 명령어가 있는거라서 그럼. @@@@@@

TypeError: print() takes 0 positional arguments but 1 was given

In [73]:
# 261번
class Stock():
    market = '샘숭'

In [74]:
Stock.market

'샘숭'

In [75]:
# 262번
class Stock():
    def __init__(self, name, number):
        self.name = name
        self.num = number
    def show(self):
        print(self.name, self.num)

In [78]:
삼성 = Stock('삼성전자','005930')
삼성.show()

삼성전자 005930

In [79]:
# 263번
class Stock():
    def __init__(self, name, number):
        self.name = name
        self.num = number
    def set_name(self, name1):
        self.name = name1

In [90]:
a = Stock(None,None)
a.set_name('삼전')

In [87]:
# 264번
class Stock():
    def __init__(self, name, number):
        self.name = name
        self.num = number
    
    def set_name(self, name1):
        self.name = name1
        
    def set_code(self, number1):
        self.num = number1
    
    def show(self):
        print(self.name, self.num)

In [88]:
a = Stock(None,None)
a.set_code('005931')

In [91]:
a.show()

삼전 None

In [3]:
# 265번
class Stock():
    def __init__(self, name, number):
        self.name = name
        self.num = number
    
    def set_name(self, name1):
        self.name = name1
        
    def set_code(self, number1):
        self.num = number1
    
    def show(self):
        return self.name, self.num

In [4]:
삼성 = Stock('삼성전자','005930')
삼성.show()

('삼성전자', '005930')

In [10]:
# 266번
class Stock():
    def add_info(self, 종목명, 종목코드, PER, PBR, 배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
        
    def set_per(self, per):
        self.PER = per
        
    def set_pbr(self, pbr):
        self.PBR = pbr
        
    def set_dividend(self, dividend):
        self.배당수익률 = dividend
    
    def show(self):
        print('-----------------------')
        print(self.종목명)
        print(self.종목코드)
        print(self.PER)
        print(self.PBR)
        print(self.배당수익률)
        print('-----------------------')

In [16]:
# 267번
samsung = Stock()
samsung.add_info('삼성전자','005930',15.79,1.33,2.83)

In [17]:
samsung.show()

-----------------------
삼성전자
005930
15.79
1.33
2.83
-----------------------

In [14]:
# 268번
class Stock():
    def add_info(self, 종목명, 종목코드, PER, PBR, 배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
        
    def set_per(self, per):
        self.PER = per
        
    def set_pbr(self, pbr):
        self.PBR = pbr
        
    def set_dividend(self, dividend):
        self.배당수익률 = dividend
    
    def show(self):
        print('-----------------------')
        print(self.종목명)
        print(self.종목코드)
        print(self.PER)
        print(self.PBR)
        print(self.배당수익률)
        print('-----------------------')

In [18]:
# 269번
samsung.set_per(12.75)
samsung.show()

-----------------------
삼성전자
005930
12.75
1.33
2.83
-----------------------

In [37]:
# 270번
hyundai = Stock()
lg = Stock()
hyundai.add_info('현대차','005380',8.70,0.35,4.27)
lg.add_info('LG전자','066570',317.34,0.69,1.37)

# hyundai.show()
# lg.show()

lst = []

lst = [samsung,hyundai,lg]



for i in lst:
    print(i.종목코드,i.PER)

    
    
@@@@@@@@@@@@@@ class 객체 리스트에 넣고 내용물 반환 @@@@@@@@@@@@@@@

005930 12.75
005380 8.7
066570 317.34

In [58]:
# 271번
from random import *
class Account():
    def create_ac(self, name, 초기잔액):
        self.name = name
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def show(self):
        print('------------')
        print(self.name)
        print(self.ac_num)

In [80]:
a = Account()
a.create_ac('SC은행',100000000000)
a.show()

@@@@@@@@@@@@@@@@

------------
SC은행
592-83-696019
100000000000
------------

In [55]:
@@@@@@@@@@@@@@ 랜덤 계좌번호 생성 @@@@@@@@@@@@@@@@@
from random import *
i = randint(100,999)
j = randint(10,99)
k = randint(100000,999990)
print(f'{i}-{j}-{k}')
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [62]:
# 272-273번
from random import *
class Account():
    
    num_Account = 0
    
    def create_ac(self, name, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
        
        
    def show(self):
        print('------------')
        print(self.name)
        print(self.ac_num)
    
    def get_account_num(self):
        print(Account.num_Account)

In [68]:
a.get_account_num()

1

In [77]:
# 274번
from random import *
class Account():
    
    num_Account = 0
    
    def create_ac(self, name, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def deposit(self, 입금액):
        self.초기잔액 += 입금액
        
    def show(self):
        print('------------')
        print(self.name)
        print(self.ac_num)
        print(self.초기잔액)
        print('------------')
    
    def get_account_num(self):
        print(Account.num_Account)

@@@@@@@@ 입금액 @@@@@@@@@@

In [81]:
a.show()

a.deposit(203420142)
a.show()

------------
SC은행
592-83-696019
100000000000
------------
------------
SC은행
592-83-696019
100203420142
------------

In [84]:
# 275번
from random import *
class Account():
    
    num_Account = 0
    
    def create_ac(self, name, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def deposit(self, 입금액):
        self.초기잔액 += 입금액

    def widthdraw(self, 출금액):
        if self.초기잔액 >= 출금액:
            
            self.초기잔액 -= 출금액
            
        else:
            print('잔액이 부족합니다')
        
    def show(self):
        print('------------')
        print(self.name)
        print(self.ac_num)
        print(self.초기잔액)
        print('------------')
    
    def get_account_num(self):
        print(Account.num_Account)

In [88]:
a = Account()
a.create_ac('SC은행',100000000000)

a.show()
a.widthdraw(100000000001)
a.show()

@@@@@@@@@@@@ 출금 메서드 @@@@@@@@@@@@

------------
SC은행
836-66-229143
100000000000
------------
잔액이 부족합니다
------------
SC은행
836-66-229143
100000000000
------------

In [99]:
# 276번
from random import *
class Account():
    
    num_Account = 0
    
    def create_ac(self, name, 예금주, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.예금주 = 예금주
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def deposit(self, 입금액):
        self.초기잔액 += 입금액

    def widthdraw(self, 출금액):
        if self.초기잔액 >= 출금액:
            
            self.초기잔액 -= 출금액
            
        else:
            print('잔액이 부족합니다')
        
    def show(self):
        print('------------')
        print('은행이름 :'+self.name)
        print('예금주 :'+self.예금주)
        print('계좌번호 :'+self.ac_num)
        print(self.초기잔액,'원')
        print('------------')
    
    def get_account_num(self):
        print(Account.num_Account)

In [100]:
sc = Account()
sc.create_ac('SC은행','파이썬',10000)
sc.show()

------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :541-83-902927
10000 원
------------

In [120]:
# 277번
from random import *
class Account():
    
    num_Account = 0
    
    num_deposit = 0
    def create_ac(self, name, 예금주, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.예금주 = 예금주
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def deposit(self, 입금액):
        Account.num_deposit += 1
        self.초기잔액 += 입금액
        
        if Account.num_deposit == 5:
            self.초기잔액 += self.초기잔액*0.01

    def widthdraw(self, 출금액):
        if self.초기잔액 >= 출금액:
            
            self.초기잔액 -= 출금액
            
        else:
            print('잔액이 부족합니다')
        
    def show(self):
        print('------------')
        print('은행이름 :'+self.name)
        print('예금주 :'+self.예금주)
        print('계좌번호 :'+self.ac_num)
        print(self.초기잔액,'원')
        print('------------')
    
    def get_account_num(self):
        print(Account.num_Account)

In [156]:
sc = Account()
sc.create_ac('SC은행','파이썬',10000)
sc.show()
sc.deposit(10000)
sc.show()
sc.deposit(10000)
sc.show()
sc.deposit(10000)
sc.show()
sc.deposit(10000)
sc.show()
sc.deposit(10000)
sc.show()

------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
10000 원
------------
------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
20000 원
------------
------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
30000 원
------------
------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
40000 원
------------
------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
50000 원
------------
------------
은행이름 :SC은행
예금주 :파이썬
계좌번호 :747-12-754918
60600.0 원
------------

In [134]:
# 278번
kb = Account()
kb.create_ac('국민KB','Juniroc',1783492940000)

kakao = Account()
kakao.create_ac('카카오뱅크','Minji',329042023923)

kb.show()
kakao.show()

lst = []

lst = [kb,kakao,sc]

for i in lst:
    print(i.초기잔액)

------------
은행이름 :국민KB
예금주 :Juniroc
계좌번호 :662-54-118621
1783492940000 원
------------
------------
은행이름 :카카오뱅크
예금주 :Minji
계좌번호 :802-10-188988
329042023923 원
------------
1783492940000
329042023923
60600.0

In [128]:
# 279번
for i in lst:
    if i.초기잔액 >= 1000000:
        i.show()

------------
은행이름 :국민KB
예금주 :Juniroc
계좌번호 :196-56-353199
1783492940000 원
------------
------------
은행이름 :카카오뱅크
예금주 :Minji
계좌번호 :352-79-571638
329042023923 원
------------

In [155]:
# 280번
from random import *
class Account():
    
    num_Account = 0
    
    num_deposit = 0
    
    deposit_list = []
    withdraw_list = []
    def create_ac(self, name, 예금주, 초기잔액):
        
        Account.num_Account += 1
        
        self.name = name
        self.예금주 = 예금주
        self.초기잔액 = 초기잔액
        
        i = randint(100,999)
        j = randint(10,99)
        k = randint(100000,999990)
        self.ac_num = f'{i}-{j}-{k}'
        
    def deposit(self, 입금액):
        Account.num_deposit += 1
        self.초기잔액 += 입금액
        
        if Account.num_deposit == 5:
            self.초기잔액 += self.초기잔액*0.01
        
        Account.deposit_list.append(입금액)
        

    def withdraw(self, 출금액):
        deposit_history
        if self.초기잔액 >= 출금액:
            
            self.초기잔액 -= 출금액
            
        else:
            print('잔액이 부족합니다')
        
        Account.withdraw_list.append(출금액)
            
    def deposit_history(self):
        for i in Account.deposit_list:
            print(i)
        
        
    def withdraw_history(self):
        for j in Account.withdraw_list:
            print(j)
        
    def show(self):
        print('------------')
        print('은행이름 :'+self.name)
        print('예금주 :'+self.예금주)
        print('계좌번호 :'+self.ac_num)
        print(self.초기잔액,'원')
        print('------------')
    
    def get_account_num(self):
        print(Account.num_Account)

In [157]:
sc.deposit_history()

10000
10000
10000
10000
10000

In [184]:
# 281번 
class 차():
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [185]:
car = 차(2,1000)
car.바퀴

2

In [186]:
car.가격

1000

In [189]:
# 282번
class 자전차(차):
    pass

@@@@@ 상속 @@@@@

In [190]:
# 283번
bicycle = 자전차(2,100)
bicycle.가격

100

In [191]:
# 284번
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

In [192]:
bicycle = 자전차(2, 100, '시마노')

In [193]:
bicycle.구동계

'시마노'

In [194]:
# 285번
class 자동차():
    def __init__(self, 바퀴수, 가격):
        self.바퀴수 = 바퀴수
        self.가격 = 가격
        
    def 정보(self):
        print('------------')
        print(f'바퀴수 {self.바퀴수}')
        print(f'가격 {self.가격}')
        print('------------')

In [196]:
car = 자동차(4,1000)
car.정보()

------------
바퀴수 4
가격 1000
------------

In [208]:
# 286 - 287번
class 자전차(자동차):
    def __init__(self,바퀴수,가격,구동계):
        self.바퀴수 = 바퀴수
        self.가격 = 가격
        self.구동계 = 구동계
    
    def info(self):
        print('------------')
        print(f'바퀴수 {self.바퀴수}')
        print(f'가격 {self.가격}')
        print(f'구동계 {self.구동계}')
        print('------------')

In [209]:
bicycle = 자전차(2,100,'시마노')
bicycle.info()

------------
바퀴수 2
가격 100
구동계 시마노
------------

In [210]:
# 288번
class 부모:
    def 호출(self):
        print("부모호출")

class 자식:
    def 호출(self):
        print("자식호출")

In [211]:
자식()

In [212]:
# 289번
class 부모:
    def __init__(self):
        print("부모생성")

class 자식:
    def __init__(self):
        print("자식생성")

In [213]:
자식()

@@@@@@@@@@@@@@@@@@@@@ 288번이랑 비교해볼 것. @@@@@@@@@@@@@@@@@@@

자식생성

In [222]:
# 290번
class 부모:
    def __init__(self):
        print("부모생성")

class 자식:
    def __init__(self):
        print("자식생성")
        super().__init__()

In [225]:
자식()

자식생성

In [230]:
# 291 - 292번
f = open('c:\\Users\\lmj35\\Desktop\\juniroc.txt', 'wt')
f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 Naver\n')
f.close()

In [246]:
# 293번
import csv
with open('c:\\Users\\lmj35\\Desktop\\매수종목1.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['종목명', '종목코드','PER'])
    writer.writerow(['삼성전자','005930', 15.79])
    writer.writerow(['Naver','035420',55.82])

    
    @@@@@@@@@@@@@@@@@@@@ csv 파일 만들고 내용 집어 넣기

In [5]:
# 294번
f = open('c:\\Users\\lmj35\\Desktop\\juniroc.txt', 'r')
a = f.read().split('\n')
a

['005930 삼성전자', '005380 현대차', '035420 Naver', '']

In [37]:
# 295번
d = {}
with open('c:\\Users\\lmj35\\Desktop\\juniroc.txt', 'r') as f:
    for i in f:
        (val, key) = i.split()
        d[key] = val

In [38]:
d

{'삼성전자': '005930', '현대차': '005380', 'Naver': '035420'}

In [65]:
# 296번
per = ["10.31", "", "8.00"]

for i in per:
    try :
        print(float(i))
    except :
        print(0)
        
        
@@@@@@@@@@@@@@@@@@ 예외 처리 @@@@@@@@@@@@@@@

10.31
0
8.0

In [49]:
# 297번
per = ["10.31", "", "8.00"]
new = []
for i in per:
    try :
        new.append(float(i))
    except :
        new.append(0)
        
new

[10.31, 0, 8.0]

In [53]:
# 298번
try:
    a = [1,2]

    4/0
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except IndexError:
    print("인덱싱 할 수 없습니다.")
    
    
@@@@@@@@@@@@@@@@@@@@ 에러 종류마다 예외 처리 가능 @@@@@@@@@@@@@@@@@@@

0으로 나눌 수 없습니다.

In [57]:
# 299번
data = [1, 2, 3]

try:
    for i in range(5):
        print(data[i])
    
except IndexError as e:
    print(e)
    
@@@@@@@@@@@@@@@@ 예외 처리 코드 @@@@@@@@@@@@@@

1
2
3
list index out of range

In [76]:
# 300번
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print('keep going')
    finally:
        print('no worries, keep going..')
    
@@@@@@@@@@@@@@
 else => 예외 발생 x시에만 수행
 
 finally => 항상 실행
@@@@@@@@@@@@@@

10.31
keep going
no worries, keep going..
0
no worries, keep going..
8.0
keep going
no worries, keep going..