In [27]:
# 23번
license_plate = "24가 2210"

In [28]:
print (license_plate[-4:])

2210

In [29]:
# 24번
string = 'PYTHON'

In [30]:
print(string[::-1])

NOHTYP

In [31]:
# 25번 
phone_number = '010-1111-2222'

In [32]:
def remove_hypen(string):
    return string.replace('-',' ')

print(remove_hypen(phone_number))

010 1111 2222

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [34]:
# 26번
def remove_hypen(string):
    return string.replace('-','')

print(remove_hypen(phone_number))

01011112222

In [35]:
# 27번
url = "http://sharebook.kr"
print(url[-2:])

kr

In [40]:
# 28번
lang = 'python'
lang[0] = 'P'

==> 바꿀 수 없음.. 문자열은 Immutable

TypeError: 'str' object does not support item assignment

In [41]:
# 29번
string = 'abcdfe2a354a32a'

def change_A(a):
    return a.replace('a','A')

print(change_A(string))

Abcdfe2A354A32A

In [48]:
# 30번
string = 'abcd'
string.replace('b','B')
print(string)

# 바꾸고싶다면 a = string.replace('b','B')
# print(a) 를 해야함

abcd

In [50]:
# 31번
a = '3'
b = '4'
print(a+b)

# str이어서 걍 문자열 더하기로 됨

34

In [51]:
# 32번
print('Hi'*3)

HiHiHi

In [54]:
# 33번
print('-'*80)

--------------------------------------------------------------------------------

In [58]:
# 34번

t1 = 'python'
t2 = 'java'

print ((t1+ " " + t2 + " ")*4)

# 오 이게 되네

python java python java python java python java

In [68]:
# 35번  formatting 문제

name1 = '김민수'
age1 = 10
name2 = '이처뤼'
age2 = 13

In [69]:

print('이름: {} 나이: {}'.format(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))

이름: 김민수 나이: 10
이름: 이처뤼 나이: 13

In [66]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [78]:
# 36번
a = '3'
b = '4'
print ('{}{}'.format(a,b))

34

In [82]:
# 37번
a = '3'
b = '4'
print(f'{a}{b}')

34

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [94]:
# 38번
상장주식수 = '5,969,782,550'

a = 상장주식수.replace(',','')
a = int(a)
print(a)
type(a)

5969782550

int

In [99]:
# 39번
분기 = "2020/03(E) (IFRS연결)"

print(분기[0:7])

2020/03

In [100]:
# 40번
data = "   삼성전자     "


data = data.strip()
print(data)

'삼성전자'

In [101]:
# 41번
ticker = 'btc_krw'


ticker = ticker.upper()
ticker

'BTC_KRW'

In [102]:
# 42번
ticker = 'BTC_KRW'


ticker = ticker.lower()
ticker

'btc_krw'

In [105]:
# 43번


'hello'.capitalize()

'Hello'

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [115]:
# 44번

file_name = '보고서.xlsx'


file_name.endswith('lsx')

True

In [117]:
# 45번
file_name ='보고서.xlsx'

file_name.endswith('xl')

False

In [118]:
# 46번
file_name = '보고서.xlsx'

file_name.startswith('보')

True

In [123]:
# 47번
a = 'hello world'

a.split(' ')

['hello', 'world']

In [124]:
# 48번
ticker = 'btc_krw'

print(ticker.split('_'))

['btc', 'krw']

In [125]:
# 49번
data = '2020-05-01'

print(data.split('-'))

['2020', '05', '01']

In [130]:
# 50번
data = '039490          '

data.rstrip()

'039490'

In [131]:
# 51번
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [132]:
# 52번
movie_rank.append('배트맨')
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [139]:
# 53번
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [140]:
# 54번
movie_rank.remove('럭키')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [146]:
# 55번
a = ['스플릿','배트맨']
movie_rank = set(movie_rank) - set(a)
movie_rank = list(movie_rank)
movie_rank

['슈퍼맨', '닥터 스트레인지']

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [155]:
# 56번

lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']

langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [159]:
# 57번
nums = [1, 2, 3, 4, 5, 6, 7]

print(f'max: {max(nums)}')
print(f'min: {min(nums)}')

max: 7
min: 1

In [160]:
# 58번
nums = [1,2,3,4,5]

sum(nums)

15

In [172]:
# 59번
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

cook.count('피자')

2

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [182]:
# 60번
def mean(a):
    return sum(a) / len(a)

nums = [1, 2, 3, 4, 5]

mean(nums)

3.0

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [1]:
# 61번
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [2]:
price[1:]

[100, 130, 140, 150, 160, 170]

In [3]:
# 62번
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
nums[::2]

[1, 3, 5, 7, 9]

In [5]:
# 63번
nums[1::2]

[2, 4, 6, 8, 10]

In [6]:
# 64번
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
# 65번
interest = ['삼성전자', 'LG전자', 'Naver']

print(' '.join(interest[::2]))

삼성전자 Naver

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [16]:
# 66번
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [17]:
# 67번

print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [24]:
# 68번

print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
\n을 이용해서 세로로 나열@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

In [28]:
# 69번

string = '삼성전자/LG전자/Naver'

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [29]:
# 70번

string = "삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우"

interest = string.split('/')

interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [31]:
# 71번
my_variable = ()

my_variable

()

In [32]:
# 72번
movie_rank = ('닥터 스트렌지','스플릿','럭키')
movie_rank

('닥터 스트렌지', '스플릿', '럭키')

In [34]:
# 73번
a = (1)
a

1

In [36]:
# 74번
t = (1,2,3)
t[0] = 'a'


# 튜플은 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

In [37]:
# 75번

t = 1, 2, 3, 4

t


@@@@@@@@@@@@@@@ 튜플은 괄호 없이도 동작 @@@@@@@@@@@@@@@@@@@

(1, 2, 3, 4)

In [39]:
# 76번

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

@@@@@@@@@@@@@@@@@@@@@@@@@ t[0] = 'A'가 동작하지 않음. @@@@@@@@@@@@@@@@@@@

('a', 'b', 'c')

In [41]:
# 77번

interest = ('삼성전자','LG전자','SK Hynix')

list(interest)

@@@@@@@@@@@@@@@@@@@ 오 이게 되네 튜플 -> 리스트로 바꾸는 거 @@@@@@@@@@@@@@@

['삼성전자', 'LG전자', 'SK Hynix']

In [42]:
# 78번
interest = ['삼전', 'LG전자', 'SK Hynix']

tuple(interest)

@@@@@@@@@@@@@@@@@@ 이것도 되네.. @@@@@@@@@@@@@@@@@

('삼전', 'LG전자', 'SK Hynix')

In [44]:
# 79번
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [51]:
# 80번

data = tuple(range(2,100,2))
data




@@@@@@@@@@@@@@@@@@ tuple로 묶어 줘야함 @@@@@@@@@@@@@@@@

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

In [59]:
# 81번

a, b, *c = (0, 1, 2, 3, 4, 5)
print(a,"\n",b,'\n',c)

@@@@@@@@@@@@@@ star expression 을 사용하면 변수의 개수가 달라도 언패킹 가능@@@@@@@@@

0
 1
 [2, 3, 4, 5]

In [62]:
*a, b, c = (0, 1, 2, 3, 4, 5)

print(a,'\n',b,'\n',c)

[0, 1, 2, 3]
 4
 5

In [66]:
# 82번
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

a, b, *valid_score = scores 
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [67]:
# 83번
a, *valid_score, c = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [68]:
# 84번
temp = {}

In [80]:
# 85 ~ 86 번
temp['메로나'] = 1000
temp['폴라포'] = 1200
temp['빵빠레'] = 1800
temp

# 또는
a ={}
a = {'메로나': 1000, '폴라포':1200, '빵빠레' : 1000}
a['죠스바']=1200
a['월드콘']=1500



@@@@@@@@@@@@@@@@@@ 추가하는 건 첫번째 방법으로 만들어야함 @@@@@@@@@@@@@

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1000}

In [90]:
# 87번
c = a['메로나']

print(' 메로나 가격 : ', f'{c}')

 메로나 가격 :  1000

In [91]:
# 88번

a['메로나'] = 1300

a

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1000, '죠스바': 1200, '월드콘': 1500}

In [92]:
# 89번

del a['메로나']
a



@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

{'폴라포': 1200, '빵빠레': 1000, '죠스바': 1200, '월드콘': 1500}

In [94]:
# 90번
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

# 없으니까..

In [95]:
# 91번

inventory = {'메로나':[300,20], '비비빅': [400,3], '죠스바': [250,100]
}

In [96]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [100]:
# 92번

a =inventory['메로나'][0]

print(f'{a} 원')

300 원

In [101]:
# 93번
b = inventory['메로나'][1]

print(f'{b} 개')

20 개

In [102]:
# 94번
inventory['월드콘'] = [500, 7]

In [103]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [116]:
# 95번
icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000
           }
a = [*icecream]
a

@@@@@@@@@@@@@@@@@@@@ list(icecream.keys()) @@@@@@@@@@@@@@@@@@

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [118]:
# 96번

icecream = {'탱크보이': 1200,
            '폴라포': 1200,
            '빵빠레': 1800,
            '월드콘': 1500,
            '메로나': 1000
           }


list(icecream.values())

@@@@@@ 정석@@@@@@@

[1200, 1200, 1800, 1500, 1000]

In [120]:
# 97번

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}


sum(icecream.values())

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ val 합 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

6700

In [121]:
# 98번

new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream
@@@@@@@@@@@@@@@@@@@@@@@@@@@ 딕셔너리 병합 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [135]:
# 99번

keys = ('apple', 'pear', 'peach')

vals = (300, 250, 400)


result = dict(zip(keys,vals))
result

@@@@@@@@@@@@@@@@@@@ using zip for dict at tuple @@@@@@@@@@@@@@@

{'apple': 300, 'pear': 250, 'peach': 400}

In [136]:
# 99-2번

keys = ('apple', 'pear', 'peach')

vals = (300, 250, 400)

result = {}
for i, key in enumerate(keys):
    result[key] = vals[i]

result

@@@@@@@@@@@@@@@@@@@@@@ enumerate 이용법 알기 @@@@@@@@@@@@@@@@@@@@
index 값과 val 값이 같이 리턴

{'apple': 300, 'pear': 250, 'peach': 400}

In [139]:
# 100번
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
close_table
@@@@@@@@@@@@@@@@@@@ using zip for dict at list

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}